1. What exactly is []?

In python, [] represents the list. The values defined in a list can be changed later based on the requirement. This is the reason list are called as mutabale in python. List can accept duplciate entries.

[] is used to initialize the list variable which can later be modified.

In [ ]:
b = []
len(b)

0

In [ ]:
b = [1,2,3,'karthik',2.34,3+4j]
type(b)

list

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
myList =[2,4,6,8,10]
myList[2]='hello'
myList

[2, 4, 'hello', 8, 10]

spam[] = ['a','b','c','d']

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [ ]:
spam = ['a','b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[]?

Negative values represent the list items in a reveresed order.

In [ ]:
spam = ['a','b','c','d']
spam[-1]

'd'

5. What is the value of spam[:2]?

This will have the list items of indexes starting from 0 to 1.

In [ ]:
spam = ['a','b','c','d']
spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
6. What is the value of bacon.index('cat')?

In [ ]:
bacon = [3.14,'cat',11,'cat',True]
bacon.index('cat') #Index will represent the first occurence of the element in the list

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [ ]:
bacon = [3.14,'cat',11,'cat',True]
bacon.append(99) #append method will include the element at the last of the list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [ ]:
bacon = [3.14,'cat',11,'cat',True]
bacon.remove('cat') #remove method will remove the first occurence of the element in the list.
bacon

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

Concatenation operator:

Concatenation operator is used to combine two or more list objects. (+) operator is used for concatenation.

Replication Operator:

replication operator is used for replicating the same elements in a list. (*) operator is used for replication

In [1]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [2]:
a = [1,2,3]
a * 2

[1, 2, 3, 1, 2, 3]

10. What is difference between the list methods append() and insert()?

append():

append() method adds an element at the end of the list.

insert():

insert() method adds an element at the specified index of the list.s

In [4]:
a = [1,2,3,4]
a.append('New Value Through Append')
a

[1, 2, 3, 4, 'New Value Through Append']

In [6]:
a = [1,2,3,4]
a.insert(2,'New Value Through Insert')
a

[1, 2, 'New Value Through Insert', 3, 4]

11. What are the two methods for removing items from a list?

remove():

remove() method deletes the first occurence of the element matching from the list.

pop():

pop() method deletes the item based on the index number given.

In [8]:
a = [1,2,3,4,3,5]
a.remove(3)
a

[1, 2, 4, 3, 5]

In [10]:
a = [1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

12. Describe how list values and string values are identical.

length:

A list length is defined by the number of items present in it. Whereas the string length is defined by the number of characters present in the string.

index:

Items in a list and the character in a string has a position which is called as index.

The only difference is list can accept any type of data whereas the string is a collection of characters.

13. What's the difference between tuples and lists?

The major difference between tuples are list is that list is mutable whereas tuples in python are immutable.

We can change the value of a list whereas it is not possible with tuples. The values remain same in tuples.

14. How do you type a tuple value that only contains the integer 42?

In [14]:
a = (42,) # If we didnt specify the comma, python will consider 42 as an integer value to the variable a.
a

(42,)

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [17]:
input = [1,2,3,4]
print(f"Input : {input} Type : {type(input)}")

output = tuple(input)
print(f"Output : {output} Type: {type(output)}")

Input : [1, 2, 3, 4] Type : <class 'list'>
Output : (1, 2, 3, 4) Type: <class 'tuple'>

In [18]:
input = (1,2,3,4)
print(f"Input : {input} Type : {type(input)}")

output = list(input)
print(f"Output Tuple : {output} Type: {type(output)}")

Input : (1, 2, 3, 4) Type : <class 'tuple'>
Output Tuple : [1, 2, 3, 4] Type: <class 'list'>

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Variable which are present inside a list are actually having the **reference** to the list values.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy.copy():

This creates a **reference** to the original object. If we change anything in the copied value, it gets replicated in the original object.

copy.deepcopy():

This creates a **new object** from the original one. Changes done at the copied object will get only reflected in the same and does not have any impact on the source object.