1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*

'hello'

-87.8

-

/

+

6

1.  It is an arithmetic operator used for multiplication (*). - Expression
2.   It is a string value ('hello'). - Value
3. It is an arithmetic operator used for subration (-). - Expression
4. It is an arithmetic operator used for division (/). - Expression
5. It is an arithmetic operator used for addition (+). - Expression
6. It is an integer value. - Value

2. What is the difference between string and variable?

String is one of the data types supported by python to share the list of characters within double quotes or single quotes.

Example: str1 = "Karthik"

str2 = "Krishnankutti"

Variables in Python are used to store the values in it.

Example: value1 = 20

Here value1 is a variable used to store the integer value of 20.

3. Describe three different data types.



1.   int - This data type is used to store all the non decimal values.
2.   float - This data type is used to store the numbers which are containing decimal values.
3. boolean - This data type is storing the value either it is true or false.

4. What is an expression made up of? What do all expressions do?

An expression in python is made up of operators, operands, parantheses, functions and statements.

These expressions are interpreted to produce the desired output.

Expression is evaluated as per the precedence of the operators.

If there are more than one operators, their precedence decides which operation will be performed first (BODMOS rule).

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression:

Expression in Python are defined as collection of operators and operands and are expected to produce some desired output atleast one value.

    Example : a+2

Statement:

Statements are expected to perform operations. 

  Example : y = x+1

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

The variable bacon still contains the value of 22. We are incrementing the value of bacon by 1 in the next statement but we are not assigning the result to the variable. Hence the value would be 22.

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [2]:
value1 = 'spam'
value2 = 'spamspam'
print(f"{value1 + value2}")
print(f"{value1 * 3}")

spamspamspam
spamspamspam

The result is 

    spamspamspam
    spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

As per the standard rules of python, a variable name cannot start with the number. In this case, when we are assigning any value to the variable '100', it is actually trying to change the value of the number and that is not acceptable. We will be getting a syntax error if we use '100' as a variable name.

In [3]:
eggs = 1
100 = 1

SyntaxError: ignored

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [6]:
value1 = "20" 
print(type(value1), value1)

value2 = int(value1)
print(type(value2), value2)

<class 'str'> 20
<class 'int'> 20

In [7]:
value3 = 30
print(type(value3), value3)

value4 = float(value3)
print(type(value4), value4)

<class 'int'> 30
<class 'float'> 30.0

In [8]:
value5 = 25
print(type(value5), value5)

value6 = str(value5)
print(type(value6), value6)

<class 'int'> 25
<class 'str'> 25

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In [9]:
value1 = 'I have eaten'
value2 = 'burritos'

value3 = value1 + 99 + value2
print(value3)

TypeError: ignored

value1 and value3 in the above example are of string datatypes whereas 99 is of integer data type. We will be getting a typeError when we are performing operations of different data types. We can store the value '99' as string and then we can concatenate them as below.

In [13]:
value1 = 'I have eaten '
value2 = '99 '
value3 = 'burritos'

value4 = value1  + value2  + value3
print(value4)

I have eaten 99 burritos