1. What are escape characters, and how do you use them?

Escape characters invoke an alternate interpretation on the following characters in a character sequence or string. 

To insert the characters which are illegal in a string, escape characters are used. 

Escape characters are a ( \ ) backslash followed by the character which we want to insert

2. What do the escape characters n and t stand for?

\n - Represents a new line

\t - Represents a horizontal tab

3. What is the way to include backslash characters in a string?

\\\ - Represents a backslash character in a string.

4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

As we have used double quotes at the front and back of the string, we are not facing any problem with the single quote.

In [3]:
str1 = "Howl's Moving Castle"
str1

"Howl's Moving Castle"

In [5]:
#As we are using single quotes in the below example, we are getting syntax error.
str2 = 'Howl's Moving Caste'

SyntaxError: ignored

5. How do you write a string of newlines if you don't want to use the n character?

Multiline comments helps us to use the strings in newlines without using the \n escape character

In [9]:
str3 = """My Name is Karthik
      I am from Kerala
      I am a Technology Analyst in Infosys"""

In [10]:
str4 = "My Name is Karthik"
str5 = "I am from Kerala"
str6 = "I am a Technology Analyst in Infosys"
print(str4)
print(str5)
print(str6)

My Name is Karthik
I am from Kerala
I am a Technology Analyst in Infosys

6. What are the values of the given expressions?

'Hello, world!'[1]

'Hello, world!'[0:5]

'Hello, world!'[:5]

'Hello, world!'[3:]

In [12]:
print('Hello, world!'[1])  #This will return the character at the first index

e

In [13]:
print('Hello, world!'[0:5]) #This will return the characters which are present from 0th index to 4th index

Hello

In [14]:
print('Hello, world!'[:5]) #This will return the characters till the 4th index in a string

Hello

In [15]:
print('Hello, world!'[3:]) #This will return the characters in a string from 3rd index

lo, world!

7. What are the values of the following expressions?

'Hello'.upper()

'Hello'.upper().isupper()

'Hello'.upper().lower()

In [16]:
print('Hello'.upper()) #This will convert the entire string to Uppercase

HELLO

In [17]:
print('Hello'.upper().isupper()) #This will first convert the entire string to Uppercase and since all the characters inside the string are uppercase, it will return true

True

In [18]:
print('Hello'.upper().lower()) #This will first convert the entire string to Uppercase and then convert the resulted string to Lowercase

hello

8. What are the values of the following expressions?

'Remember, remember, the fifth of July.'.split()

'-'.join('There can only one.'.split())

In [20]:
print('Remember, remember, the fifth of July.'.split())
str7='-'.join('There can only one.'.split())
print(str7)

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']
There-can-only-one.

9. What are the methods for right-justifying, left-justifying, and centering a string?

In [31]:
str8='Hello!!!!!'
x = str8.rjust(20,'*') #This is used for right justification
print(x)

**********Hello!!!!!

In [32]:
str9='Hello!!!!!'
x = str8.ljust(20,'*') #This is used for left justification
print(x)

Hello!!!!!**********

In [33]:
str10='Hello!!!!!'
x = str8.center(20,'*') #This is used for left justification
print(x)

*****Hello!!!!!*****

10. What is the best way to remove whitespace characters from the start or end?

In [35]:
str11="    Karthik****"
print(str11.lstrip())

Karthik****

In [36]:
str12="****Karthik    "
print(str12.rstrip())

****Karthik